@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;1,300;1,400&display=swap");

body {
  text-align: center;
  font-family: "Lato", sans-serif;
  background-color: $dark-grey;
  color: $white;
}

.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  max-width: 1300px;
  margin: 0 auto;
  padding: 50px;

  text-align: center;

  @media (max-width: 576px) {
    padding: 0;
  }
}

.box-beneath-header {
  height: 100px;
}

.button {
  text-transform: uppercase;
  padding: 10px;
  border: 1px solid $black;
  border-radius: $brrSmall;
  font-size: 14px;
  background-color: aliceblue;
  transition: $trd;
  cursor: pointer;
}

.button-delete {
  background-color: rgba(238, 77, 77, 0.925);
  border-color: $black;
}

.button-full-width {
  width: 100%;
}

.button:hover {
  background-color: rgb(166, 167, 243);
}

.title {
  margin-bottom: 40px;
  font-size: 25px;

  @media (max-width: 576px) {
    margin-top: 20px;
    font-size: 20px;
  }
}

.cursor {
  cursor: pointer;
}

input {
  background-color: $white;
}

.notification {
  margin: $small 0;
  color: $pink;
}

table {
  border-spacing: 0;
  border-collapse: collapse;

  @media (min-width: 768px) {
    width: 85%;
  }
  @media (min-width: 992px) {
    width: 70%;
  }
  @media (min-width: 1200px) {
    width: 60%;
  }
  @media (min-width: 1400px) {
    width: 50%;
  }
}

th,
td {
  height: 50px;
  border-bottom: 1px solid rgba(211, 211, 211, 0.445);
}

tr {
  transition: $trd;
}

tbody > tr:hover {
  background-color: $green-opacity-light;
}

.isWatched {
  background-color: $green-opacity-dark;
}
