.itemBox {
  display: flex;
  align-items: center;
  justify-content: space-around;

  max-width: 1000px;
  width: 95vw;

  padding: 30px 0;
  border: 2px solid rgb(21, 51, 21);
  border-radius: 5px;

  text-align: center;
  background-color: rgb(40, 160, 40);
}

.itemBoxAddMod {
  border: 2px solid yellow;
  background-color: rgb(228, 219, 138);
}

.infoBox {
  display: flex;
  justify-content: center;
  align-items: center;
  /* margin-right: 50px; */
}

.infoBox > div:nth-last-child(4) {
  margin-left: 0;
}

.target-input {
  max-width: 150px;
  padding: 5px 15px;
  border: none;
  border-radius: 5px;
  text-align: right;
  outline: none;
}

.buttonBox {
  display: flex;
  justify-content: center;
  align-items: center;
}

.button.button-save {
  margin-left: 0;
}

.buttonBox > button {
  margin-left: 30px;
}

.targetHitted {
  border: 2px solid red;
  background-color: rgb(197, 53, 53);
}

.targetNotification,
.priceNotification {
  margin: 15px;
  color: red;
}

.label {
  display: block;
  margin-bottom: 10px;
  font-weight: bold;
}

.coin-name {
  text-transform: capitalize;
}

@media (max-width: 576px) {
  .itemBox {
    padding: 10px;
  }

  .infoBox {
    flex-direction: column;
  }

  .infoBox > div {
    margin-bottom: 20px;
  }
}

@media (max-width: 768px) {
  .itemBox {
    flex-direction: column;
  }

  .infoBox {
    width: 100%;
  }
}
@media (min-width: 567px) and (orientation: landscape) {
  .infoBox > div {
    margin-left: 50px;
  }
}

@media (max-width: 768px) and (orientation: landscape) {
  .infoBox {
    margin-bottom: 20px;
  }
}

@media (min-width: 768px) {
  .itemBox {
    width: 90vw;
  }
}

@media (min-width: 1300px) {
  .itemBox {
    width: 50vw;
  }
}
